<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <% messages.forEach(msg => {%> 
      
      <div><%=msg.user %></div>
      <div><%=msg.text %></div>
      <div><%=msg.added %></div>
      

    <% }) %> 
    
  </div>
  <a href="/new">Make a post!</a>
  
  
</body>
</html>